/*=================================================
Variables
=================================================*/
@use "../_colors" as c;

/*=================================================
Header
=================================================*/
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$darkest;
  position: fixed;
  left: 0;
  top: 0;
  height: 75px;
  padding: 1em;
}


.header-wrapper {
  width: 100%;
  max-width: 600px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.header__text {
  display: flex;
  flex-direction: column;
}

.left {
  justify-self: start;
  grid-column: 2 / 3;
}

.center {
  width: 100%;
  grid-column: 3 / 5;
}

.right {

  grid-column: 5 / 6;
}

@media screen and (max-width: 520px) {
  .header {
    padding: 0.3em 1em;
  }

  .left {
    grid-column: 1 / 2;
  }
  
  .center {
    width: 100%;
    grid-column: 3 / 5;
  }
  
  .right {
    justify-self: end;
    grid-column: 6 / 7;
  }
}