/*=================================================
Colors
=================================================*/
$middle: #adb5bd;
$light: #dee2e6;
$lightest: #f8f9fa;
$dark: #343a40;
$darkest: #212529;
$accent: #ccdbfd;
$accentDark: #8aabfa;
$accentDarkest: #739bf9;
$correctLight: #b7efc5;
$correctDark: #2dc653;
$wrongLight: #ff8fa3;
$wrongDark: #ff5b78;