/*=================================================
Reset
=================================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: contain;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

a {
  color: #97cbff;
}